{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

{{ form_errors(form) }}

{% include 'SyliusWebBundle:Backend/Product/Form:_tabs.html.twig' %}

<br>
<div class="tab-content">
    {% include 'SyliusWebBundle:Backend/Product/Form:_main.html.twig' %}

    {% include 'SyliusWebBundle:Backend/Product/Form:_options.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_parts.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_attributes.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_categorization.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_images.html.twig' %}

    {% if product.isBundle or product.isSimple %}
        {% include 'SyliusWebBundle:Backend/Product/Form:_bundle_products.html.twig' %}
    {% endif %}

    {% if form.channels|length > 0 %}
        {% include 'SyliusWebBundle:Backend/Product/Form:_channels.html.twig' %}
    {% endif %}

    {% if form.productSchemes is defined %}
        {% include 'SyliusWebBundle:Backend/Product/Form:_schemes.html.twig' %}
    {% endif %}

    {% include 'SyliusWebBundle:Backend/Product/Form:_composite_collections.html.twig' %}
</div>
<hr>

{# @todo: correct call to form_rest(form), for view all not rendered fields #}
{{ form_widget(form._token) }}

<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {
            var images = $('#product-images');

            images.sortable({
                update: function () {
                    var index = 0;
                    images.find('.product-images-image').each(function () {
                        $(this).find('[data-target="move"] input').val(index++);
                    });
                }
            });

            images.disableSelection();

            $('#sylius_product_productType').on('change', function(e) {
                if ($(this).val() == 1 && $('li.schemes').is(':visible')) {
                    $('li.schemes').hide();
                }
                else {
                    $('li.schemes').show();
                }
            });

            $(document).bind('DOMNodeInserted', function (event) {
                var target = event.target,
                    classes = target.classList;
                if ($.inArray('product-images-image', classes) !== -1) {
                    var
                        lastElement = $('.product-images-image:eq(-2) div[data-target="move"] input'),
                        lastPosition = 0,
                        element = $(target);
                    if (lastElement.size()) {
                        lastPosition = lastElement.val();
                    }
                    element.find('[data-target="move"] input').val(lastPosition + 1);
                    images.sortable('refresh');
                    element.disableSelection();
                }
            });

            // Add bg for tabs with error.
            $('form > .tab-content').find('.has-error').parents('.tab-pane').each(function(idx) {
                $('a[href="#' + $(this).attr('id') + '"]').addClass('bg-danger');
            });
        });
    })(jQuery);
</script>