.factory-posts .post-item
{
    padding: 10px 15px;
    margin: 10px 15px;
}

.factory-posts .post-item.with-image .image
{
    float: left;
    width: 150px;
    margin-right: 20px;
}

.factory-posts .post-item.with-image .post-info
{
    padding-left: 170px;
}

.factory-posts .post-item.with-image .image img
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.factory-posts .post-item .title
{
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1.8em;
}

.factory-posts .post-item .title a
{
    color: #222;
}

.factory-posts .post-item .short-description
{
    color: #555;
    line-height: 1.3em;
    text-align: justify;
}

.factory-post.with-images .images
{
    width: 150px;
    float: left;
    margin-right: 20px;
}

.factory-post.with-images .content
{
    padding-left: 180px;
}

.factory-post h1
{
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.factory-post .content
{
    font-size: 1.15em;
    line-height: 1.5em;
    text-align: justify;
}

.factory-post .files
{
    float: right;
    margin: 20px 0 10px 0;
}

.factory-post .files .file
{
    line-height: 1.8em;
}

.factory-contacts
{
}

.factory-contacts .contact
{
    float: left;
    width: 30%;
    margin: 10px 15px;
    padding: 15px;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.factory-contacts .contact .header
{
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    line-height: 1.4em;
}

.factory-contacts .contact .header .name
{
    color: #222;
    font-weight: normal;
    padding-bottom: 4px;
}

.factory-contacts .contact .header .department
{
    font-size: 0.8em;
    color: #999;
}

.factory-contacts .contact .body
{
    padding: 10px 0 0 10px;
    line-height: 2em;
}

.factory-contacts .contact .body a
{
    color: #333;
    text-decoration: none;
}

.factory-contacts .contact .body a:hover
{
    text-decoration: underline;
}

.factory-contacts .contact .body .fa::after
{
    content: "\00a0\00a0";
}

.factory-info
{
    width: 100%;
}

.factory-info .factory-cover
{
    position: relative;
    margin-bottom: 100px;
}

.factory-info .factory-cover img
{
    width: 100%;
    height: 350px;
}

.factory-info .factory-cover .logo
{
    width: 160px;
    height: 160px;
    position: absolute;;
    bottom: -80px;
    left: 50%;
    margin-left: -80px;
}

.factory-info .factory-cover .logo img
{
    width: 160px;
    height: 160px;
}

.factory-info .factory-title
{
    text-align: center;
    margin-bottom: 25px;
}

.factory-info .factory-title h3
{
    font-size: 1.8em;
    margin-bottom: 10px;
}

.factory-info .short-description,
.factory-info .description
{
    text-align: justify;
    line-height: 1.3em;
    text-indent: 1.5em;
}

.factory-info .short-description
{
    margin-bottom: 20px;
}

.image img, .images img {
    max-width: 100%
    height: auto;
}


