<div class="modal fade" id="backend-confirmation-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'backend_confirmation.default.title'|trans }}</h4>
            </div>

            <div class="modal-body">
                {{ 'backend_confirmation.default.message'|trans }}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> {{ 'backend_confirmation.cancel'|trans }}</button>
                <a class="btn btn-danger" id="backend-confirmation-modal-confirm">
                    <i class="glyphicon glyphicon-trash"></i><span>{{ message is defined ? message : 'backend_confirmation.confirm'|trans }}</span>
                </a>
            </div>
        </div>
    </div>
</div>
