#sylius_product_productParts .row.collection-list
{
    clear: both;
    padding: 20px;
}

#sylius_product_productParts .row.collection-list .collection-item
{
    float: left;
    width: 47%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 5%;
    border-bottom: 1px solid #a1a1a1;
}

#sylius_product_productParts .row.collection-list .collection-item label.control-label
{
    width:auto;
    float:none;
    clear:both;
    display:block;

    text-align: left;
    margin: 5px 0 15px 0;
}

#sylius_product_productParts .row.collection-list .collection-item select[multiple="multiple"]
{
    height: 300px;
}

.fade.in {
    display: block;
}


.backend-image
{
    display: block;
}

.backend-image.path-exist .image-input
{
    display: none;
}

.backend-image .image-container
{
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
}

.backend-image .image-container .buttons
{
    margin-top: 10px;
}

div[data-target="move"]
{
    cursor: move;
}

.product-images-image
{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #cecece;
}

.product-images-image:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

/**Styling selec2**/
.select2-container.form-control {
	padding: 0;
	min-width: 130px;
	overflow: hidden;
}

.select2-container.form-control .select2-choice.select2-default, .select2-container.form-control .select2-choice {
    height: 100%;
    line-height: 30px;
    padding: 0 12px;
    -webkit-border-radius: 0;
	-moz-border-radius: 0;
    border-radius: 0;
    border: none;
}

.select2-container.form-control .select2-choice .select2-arrow {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
}

.select2-container .select2-choice .select2-arrow b {
	position: relative;
}

.select2-container .select2-choice .select2-arrow b:after {
    content: " ";
    display: block;
    position: absolute;
    top: 13px;
    right: 4px;
    width: 8px;
    height: 0px;
    border-top: 8px inset #DADADA;
    border-right: 5px inset transparent;
    border-left: 5px inset transparent;
    z-index: 2;
    border-bottom: none;
}

.select2-container.form-control .select2-choice .select2-arrow {
    border-left: 1px solid rgb(239, 237, 230);
}

.select2-search {
    margin: 5px 0 0 0px;
}

.select2-container.select2-container-multi.form-control .select2-choices {
	height: 32px !important;
	background: none;
	border: none;
}

.select2-container.select2-container-multi.form-control .select2-choices .select2-search-field input {
	padding: 5px 5px 5px 12px;
	margin: 0;
}
.select2-container.select2-container-multi.form-control.select2-container-active {
	border: none;
}
.select2-container.select2-container-multi.form-control .select2-choices .select2-search-choice {
	padding-top: 6px;
	padding-bottom: 6px;
}
