{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

{% block topbar %}
    <ol class="breadcrumb">
        <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
        <li>{{  'product_part_material_variant.breadcrumb.index'|trans }}</li>
        <li>{{ 'create'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1><i class="glyphicon glyphicon-plus-sign"></i> {{ 'product_part_material_variant.header.create'|trans }}</h1>
    </div>

    {% include 'WebBundle:Backend/ProductPartMaterial/Variant:_form.html.twig' %}
{% endblock %}
