{% block root %}
{% spaceless %}
<div class="factory-navigation">
    <ul class="nav nav-pills">
    {% for child in item.children if child.displayed %}
        <li>
            <a {% if child.isCurrent() %} class="active" {% endif %} href="{{ child.uri }}">
                {{ child.label }}
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endspaceless %}
{% endblock %}