{% block root %}
{% spaceless %}
    <nav>
        <ul>
            {% for child in item.children %}
                <li  class="simple-list {% if child.isCurrent() %}active{% endif %}">
                    <a href="{{ child.uri }}">{{ child.label }}</a>
                    {% if child.children %}
                        <div class="submenu">
                            <ul class="simple-menu-list-column">
                                {% for subChild in child.children %}
                                    <li>
                                        <a href="{{ subChild.uri }}">{{ subChild.label }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endspaceless %}
{% endblock %}