{% spaceless %}
    <div class="navigation-header responsive-menu-toggle-class">
        <div class="title">{{ 'frontend.title.navigation'|trans }}</div>
        <div class="close-menu"></div>
    </div>

    <div class="header-simple-search hidden-xs hidden-sm hidden-md">
        {% if app.user.isRetailer() %}
        <div class="row">
            <div class="col-md-3 col-md-push-9">
                <div class="simple-search-form">
                    <form>
                        <input type="text" placeholder="Search for product">
                        <div class="simple-submit">
                            <i class="fa fa-search"></i>
                            <input type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div class="nav-overflow">
        {% if app.user.isFactory() %}
            {{ knp_menu_render('frontend.header.factory', {template: 'FrontendBundle:Common/Header/Default:menu.html.twig'}) }}
        {% elseif app.user.isRetailer() %}
            {{ knp_menu_render('frontend.header.retailer', {template: 'FrontendBundle:Common/Header/Default:menu.html.twig'}) }}
        {% else %}
            Undefined user type!
        {% endif %}

        <div class="navigation-footer responsive-menu-toggle-class">
            <div class="navigation-copyright">Created by <a href="#">AgentA Solutions</a>. All rights reserved</div>
        </div>
    </div>

{% endspaceless %}