{% spaceless %}
    <div class="navigation-header responsive-menu-toggle-class">
        <div class="title">{{ 'frontend.title.navigation'|trans }}</div>
        <div class="close-menu"></div>
    </div>

    <div class="header-simple-search hidden-xs hidden-sm hidden-md">
        <div class="row">
            <div class="col-md-3 col-md-push-9">
                <div class="simple-search-form">
                    <form>
                        <input type="text" placeholder="Search for product">
                        <div class="simple-submit">
                            <i class="fa fa-search"></i>
                            <input type="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-overflow">
        {{ knp_menu_render('frontend.header', {template: 'FrontendBundle:Common/Header/Default:menu.html.twig'}) }}

        <div class="navigation-footer responsive-menu-toggle-class">
            <div class="socials-box">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <div class="clear"></div>
            </div>
            <div class="navigation-copyright">Created by <a href="#">AgentA Solutions</a>. All rights reserved</div>
        </div>
    </div>

{% endspaceless %}