{% spaceless %}
    <div class="header-top-entry">
        <div class="title"><img src="{{ asset('bundles/frontend/img/flags/en.png') }}" alt="">{{ 'frontend.language.english'|trans }}<i class="fa fa-caret-down"></i></div>

        <div class="list">
            <a href="#" class="list-entry"><img src="{{ asset('bundles/frontend/img/flags/it.png') }}" alt="">Italian</a>
            <a href="#" class="list-entry"><img src="{{ asset('bundles/frontend/img/flags/ru.png') }}" alt="">Russian</a>
        </div>
    </div>

    <div class="header-top-entry hidden-xs">
        <div class="title">
            <i class="fa fa-phone"></i>
            Any question? Call Us <a href="tel:+380630776632"><b>+380630776632</b></a>
        </div>
    </div>

    <div class="menu-button responsive-menu-toggle-class"><i class="fa fa-reorder"></i></div>
    <div class="clear"></div>
{% endspaceless %}