{% extends 'FrontendBundle:FactorySide:base.html.twig' %}

{% block title %}{{ 'frontend.title.collections'|trans }} :: {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}

    <a href="#">{{ 'frontend.title.collections'|trans }}</a>
{% endblock %}

{% block factory_side_content %}
    <div class="factory-collections">
        {% for composite_collection in composite_collections %}
            {% include 'FrontendBundle:FactorySide/Common:composite_collection_item.html.twig' with {composite_collection: composite_collection} %}
        {% endfor %}
    </div>
{% endblock %}