{% spaceless %}
<!-- Begin Footer  -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                {{ knp_menu_render('frontend.footer', {template: 'FrontendBundle:Common/Footer:menu.html.twig'}) }}
                <div class="copyright">
                    &#169 <a href="#">AgentA Solution</a>.
                    {{ 'frontend.all_right_reserved'|trans }}
                </div>
            </div>
            <div class="col-sm-2">
                <div class="footer-logo-wr">
                    <img src="{{ asset('bundles/frontend/img/footer-logo.png') }}" alt="" class="footer-logo" />
                </div>
            </div>
        </div>
    </div>
</footer>
{% endspaceless %}
