{% block root %}
<nav id="ft-navbar" class="">
    <ul class="foot-nav nav navbar-nav">
    {% for child in item.children %}
        <li class="{% if child.isCurrent() %}active{% endif %}">
            <a href="#{#{{ child.uri }}#}">{{ child.label }}</a>
        </li>
    {% endfor %}
    </ul>
    <div class="clear"></div>
</nav>
{% endblock %}
