{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<div class="tab-pane" id="attributes">
    {% if form.attributes is defined %}
        {{ form_row(form.attributes, { 'label': false }) }}
    {% endif %}
</div>
