{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<div class="tab-pane" id="categorization">
    {{ form_row(form.spaces) }}
    {{ form_row(form.types) }}
    {{ form_row(form.categories) }}
    {{ form_row(form.styles) }}
</div>
