{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

{% if form.options is defined or form.skuOptionVariants is defined %}
    <div class="tab-pane" id="options">
        {% if form.options is defined %}
            {{ form_row(form.options) }}
        {% endif %}

        {% if form.skuOptionVariants is defined %}
            {{ form_row(form.skuOptionVariants) }}
        {% endif %}
    </div>
{% endif %}