{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<div class="tab-pane" id="parts">
    {% if form.productParts is defined %}
        {{ form_row(form.productParts) }}
    {% endif %}
</div>
