{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

{% if form.productParts is defined %}
    <div class="tab-pane" id="parts">
        {{ form_row(form.productParts) }}
    </div>
{% endif %}
