{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

{% if form.productParts is defined %}
    <div class="tab-pane" id="parts">
        {% if form.productParts.vars.errors|length > 0 %}
            {{ form_errors(form.productParts) }}
        {% endif %}

        {{ form_widget(form.productParts) }}
    </div>
{% endif %}
