{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<div class="tab-pane" id="related_products">
    {% if form.relatedProducts is defined %}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.relatedProductsFactory) }}
            {{ form_row(form.relatedProducts) }}
        </div>
    </div>
    {% endif %}
</div>
