{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<div class="tab-pane" id="related_products">
    {% if form.relatedProducts is defined %}
    {{ form_row(form.relatedProductsFactory) }}
    {{ form_row(form.relatedProducts) }}
        <script type="application/javascript">
            (function ($) {

//                $('.autocomplete-extra-params').on('change', function(e) {
//
//                });
//
//                var params = {};
//                $.each($('.autocomplete-extra-params'), function() {
//                    if ($(this).val() && $(this).data('extra-parm-name') && $(this).data('parent-widget')) {
//                        params[$(this).data('parent-widget')] = {};
//                        params[$(this).data('parent-widget')][$(this).data('extra-parm-name')] = $(this).val();
//                    }
//                });
//
//                if (Object.keys(params).length && params.hasOwnProperty(input.data('widget-name'))) {
//                    source += '?' + $.param(params[input.data('widget-name')]);
//                } else {
//                    source = el.attr('source');
//                }
            })(jQuery);
        </script>
    {% endif %}
</div>
