<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    {% block head_meta_common %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets output='/css/*.min.css'
            '@FrontendBundle/Resources/public/css/bootstrap.min.css'
            '@FrontendBundle/Resources/public/css/idangerous.swiper.css'
            '@FrontendBundle/Resources/public/css/font-awesome.min.css'
            '@FrontendBundle/Resources/public/css/font-raleway.css'
            '@FrontendBundle/Resources/public/css/login.css'
        %}
            <link type="text/css" href="{{ asset_url }}" rel="stylesheet" />
        {% endstylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% javascripts output='/js/*.min.js'
            '@FrontendBundle/Resources/public/js/jquery-2.1.3.min.js'
            '@FrontendBundle/Resources/public/js/jquery-ui.min.js'
            '@FrontendBundle/Resources/public/js/jquery.mousewheel.js'
            '@FrontendBundle/Resources/public/js/jquery.jscrollpane.min.js'
            '@FrontendBundle/Resources/public/js/idangerous.swiper.min.js'
            '@FrontendBundle/Resources/public/js/bootstrap.min.js'
            '@FrontendBundle/Resources/public/js/jquery.jeditable.js'
            '@FrontendBundle/Resources/public/js/global.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('bundles/frontend/img/favicon-6.ico') }}" />

    <title>{% block title %}{{ 'frontend.title.index'|trans }}{% endblock %}</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />

</head>
<body>
{% include 'FrontendBundle:Common:page_loader.html.twig' %}

<div id="content-block" class="container">
    <div class="content-center fixed-header-margin">
        <div class="content-push">
            <div class="information-blocks">
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
