{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

{{ form_errors(form) }}
<form action="" method="POST" class="form-horizontal" id="pdp-create-form">
    {{ form_row(form.product) }}
    {{ form_row(form.name) }}

    {{ form_rest(form) }}

    <fieldset>
        <legend>Tree</legend>
        <div id="myholder" style="background-color: #DAE4E4;">
        </div>
    </fieldset>

</form>