{% spaceless %}
    <header class="header">
        <!-- Fixed navbar -->
        <div class="navbar navbar-head">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="logo" href="/">
                        <img src="{{ asset('/bundles/frontend/img/agenta-logo.png') }}" alt="">
                    </a>
                </div>
                <div id="bs-navbar" class="collapse navbar-collapse">
                    <div class="pull-left main-menu">
                        <div class="site-name"></div>
                        {% if app.user.isFactory() %}
                            {{ knp_menu_render('frontend.header.factory', {template: 'FrontendBundle:Common/Header:menu.html.twig'}) }}
                        {% elseif app.user.isRetailer() %}
                            {{ knp_menu_render('frontend.header.retailer', {template: 'FrontendBundle:Common/Header:menu.html.twig'}) }}
                        {% else %}
                            Undefined user type!
                        {% endif %}
                    </div>
                    <div class="header-right pull-right">
                        <div class="line-entry">
                            {{ knp_menu_render('frontend.header.profile', {template: 'FrontendBundle:Common/Header:profile_menu.html.twig', allow_safe_labels: true}) }}
                        </div>
                        {% if app.user.isRetailer() %}
                            <div class="header-simple-search">
                                <div class="simple-search-form">
                                    <form>
                                        <input type="text" name="s" />
                                        <div class="simple-submit">
                                            <i class="fa fa-search"></i>
                                            <input type="submit" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endspaceless %}
