{% block root %}
{% spaceless %}
    <nav class="main-nav">
        <ul class="nav navbar-nav">
            {% for child in item.children %}
                <li  class="simple-list {% if child.isCurrent() %}active{% endif %}">
                    <a href="{{ child.uri }}">{{ child.label }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endspaceless %}
{% endblock %}